/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #878484;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}

.main-title {
  flex: 1;
  margin-left: 20px;
  font-size: 1.8rem;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation a:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.section-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paragraph {
  font-size: 1.2rem;
  color: #666;
}

.selector-list {
  list-style-type: disc;
  padding-left: 20px;
}

.example {
  margin-bottom: 20px;
}

.example-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.example-description {
  color: #333;
  font-size: 1.2rem;

}

.code-example {
  background-color: #bbb4b4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin-top: 10px;
  font-size: 1.1rem;

}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
